.site-home {
    background-image: url(/src/images/photo-1534258936925-c58bed479fcb.jpg);
    
}

.site-about  {
    position: relative;
    padding: 2em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

.site-about  .benefits {
    padding-left: 0;
    font-size: 1.2em;
    padding-bottom: 1em;
    margin: 0 auto;
    margin-top: 5em;
    text-align: center;
}

.benefits li {
    padding-bottom: 0.5em;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

