.site-home {
    background-image: url(/src/images/photo-1534258936925-c58bed479fcb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: white;
    height: 100%;
}

.site-home:before {
    content: '';
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
}

.site-about  {
    position: relative;
    padding: 2em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

.site-about  .benefits {
    padding-left: 0;
    font-size: 1.2em;
    padding-bottom: 1em;
    margin: 0 auto;
    margin-top: 5em;
    text-align: center;
}

.benefits li {
    padding-bottom: 0.5em;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

