.user-info {
    width: 50%;
}

.profile-picture {
    text-align: center;
}

.profile-picture>img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 2em 0;
}

.profile-content {}

.user-name {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.user-activity {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #000;
    padding-bottom: 2em;
    font-size: 1.5em;
    font-weight: 500;
}

.user-bio {
    text-align: center;
    margin: 3em auto;
    padding: 0 4em;
}


.socials>ul {
    display: flex;
    justify-content: space-evenly;
    margin: 3em;
}



.socials a {
    display: inline-block;
    font-weight: 900;
    padding-right: 10px;
    font-size: 100px;
}

