
*, *:before, *:after {
  /* margin: 0; */
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font: 14px/1,5;
  font-family: 'Open Sans', sans-serif;

}

body {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-family: 'Roboto Slab', serif;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

li {
  list-style: none outside;
}

a {
  text-decoration: none; 
  color: #ffffff;
}

main {
  
  background-color: rgb(184, 153, 184);
}

.site-cta {
  margin: 4em auto;

  border: none;
  background: #d35400;
  padding: 0.4em 3em;
  letter-spacing: 5px;
  color: white;
  display: inline-block;

}

.site-cta:hover {
  opacity: 0.8;
}


.img-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: white;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
}

.img-background:before {
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}