.contact-page {
    background-image: url(/src/images/photo-1571019614242-c5c5dee9f50b.jfif); 
}

.formcontainer-contacts {
    text-align: center;
    margin: 24px 50px 12px;
}


.container-contacts {
    padding: 16px 0;
    text-align: left;
}

.container-contacts textarea {
    margin: 2em 0;
}
